body {
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    list-style-type: none;
    cursor: pointer;
    background-color: rgb(206, 254, 254);
}

h1 {
    margin-left: 25px;
}

button { 
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(247, 130, 212);

}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 50px auto;
}

.text {
    width: 50%;
}

/* .table {
    width: 400px;
    height: 600px;
    background-color: #72B58C;
    border: 25px solid #382B17; 
    display: flex;
    justify-content: center;
    align-items: center;
} */

.table {
    width: 400px;
    height: 600px;
    background-color: #72B58C;
    border: 25px solid #382B17; 
    position: relative;
}

.ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}

.cue-ball {
    background-color: white;
    border: 2px solid black;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.red 
{ background-color: red; }
.yellow 
{ background-color: yellow; }
.blue 
{ background-color: blue; }


.ball.red { top: 50px; left: 50%; transform: translateX(-50%); } /* mid */
.ball.yellow { top: 30px; left: 35%; } /* L */
.ball.blue { top: 30px; left: 65%; } /* R */